footer {
	text-align: center;
	padding: 10px 0px;
	font-size: small;
	background-color: $background-color_1;
	margin-top: auto;
}
.redes {
	margin-top: 20px;
}
.redes_link {
	text-decoration: none;
	margin: 20px;
	font-size: small;
}
.redes_icono {
	width: 50px;
	height: 50px;
}
