$color_1: #8F3985;
$color_2: #25283D;
$color_3: white;
$color_4: black;
$background-color_1: #EFD9CE;
$background-color_2: #07beb8e0;
$background-color_3: #07beb89a;
$font-family_1: 'Sintony', sans-serif;
$font-family_2: 'Gloria Hallelujah', cursive;